*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.container{
    display: flex;
    
    width: 90vw;
    
}

.panel{

    background-image: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    background-size: auto;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    flex: 0.2;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}